


.project-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 14em;
    width: 30em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
    justify-content: center;
    align-items: center;
}
.project-card:hover{
    transform: scale(1.1);
}
